{% extends "base_template.html" %}

{% block title %}CINES JEA{% endblock %}
{% block content %}
<main id="films_details">
    <div class="myimage">
        <img src="{{ url_for('media_films', filename=my_film.film_image) }}">
    </div>
    <div class="mydetails">
        <div class="filmsdetails">
            <div class="filmTitle">
                <h3>{{ my_film.film_title }}</h3>
            </div>
            <div class="filmSynopsis">
                <h3>SYNOPSIS:</h3>
                <p class="synopsiscontent">
                    {{ my_film.film_synopsis }}
                </p>
            </div>
        </div>
        <div class="filmproyections">
            <h3>Proyections:</h3>
            {% if all_Proy %}
            <table>
                <tr>
                    <th>SALA</th>
                    <th>SESSION</th>
                    <th>FECHA</th>
                </tr>
                {% for proyection in all_Proy %}
                <tr>
                    <td>{{ proyection.room_number }}</td>
                    <td>{{ proyection.proyection_time }}</td>
                    <td>{{ proyection.proyection_date }}</td>
                </tr>
                {% endfor %}
            </table>
            {% else %}
            <h3>There are not proyections</h3>
            {% endif %}
        </div>
        <div class="buttonsUD">
            <a href="{{ url_for('global_users.get_ticket', film_id=my_film.id) }}">
                <input type="button" value="GET TICKET">
            </a>
            <a href="{{ url_for('global_users.index') }}">
                <input type="button" value="CLOSE">
            </a>
        </div>
    </div>
</main>
{% endblock %}